Conditional Basics

Prompt the user for a day of the week, print out whether the day is Monday or not

In [25]:
it_is_Monday = True

if it_is_Monday:
    print('I hate Mondays!')

I hate Mondays!

Prompt the user for a day of the week, print out whether the day is a weekday or a weekend

In [26]:
it_is_weekday = True

if it_is_weekday:
    print('I have to go to work.')
else:
    print('Party time!')

I have to go to work.

Calculate a weekly paycheck, accounting for overtime pay. Create variables and make up values for:

The number of hours worked in one week

In [22]:
hrs_wrkd = 68
reg_hrs = 40
ot_hrs = 18

The hourly rate

In [20]:
hrly_rt = 25
ot_hrly_rt = hrly_rt * 1.5

For calculating pay:

For working 40 hours or less, each hour is paid at the hourly rate

For working more than 40 hours

the first 40 hours are paid at the hourly rate

each hour after 40 is paid at time and a half (hourly rate * 1.5)

In [23]:
(reg_hrs * hrly_rt) + (ot_hrs * ot_hrly_rt)

1675.0

Loop Basics

While

Create an integer variable i with a value of 5. Create a while loop that runs so long as i is less than or equal to 15. Each loop iteration, output the current value of i, then increment i by one.

In [24]:
i = 5

while i <= 15:
    
    print(i)
    
    i += 1

5
6
7
8
9
10
11
12
13
14
15

Create a while loop that will count by 2's starting with 0 and ending at 100. Follow each number with a new line.

In [36]:
i = 0

while i < 101:
    
    print(i)
    
    i += 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

Create a while loop that starts at 2, and displays the number squared on each line while the number is less than 1,000,000. Output should equal

In [43]:
i = 2

while i < 1000000:
    
    print(i)
    
    i **= 2

2
4
16
256
65536

Write a while loop that uses print to create the output shown below.

In [45]:
i = 100

while i > 0:
    
    print(i)
    
    i -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

For Loops

Write some code using a for loop that prompts the user for a number, then shows a multiplication table up through 10 for that number.

For example, if the user enters 7, your program should output:

7 x 1 = 7

7 x 2 = 14

7 x 3 = 21

7 x 4 = 28

7 x 5 = 35

7 x 6 = 42

7 x 7 = 49

7 x 8 = 56

7 x 9 = 63

7 x 10 = 70

In [57]:
num = int(input('Enter an integer: '))

for i in range(num):
    
    print(num, 'x', i, '=', (num*i) )

Enter an integer: 12
12 x 0 = 0
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132

Create a for loop that uses print to create the output shown below.

1

22

333

4444

55555

666666

7777777

88888888

999999999

In [29]:
for i in range(10):
    
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

break and continue

Write a program that prompts the user for a positive integer. Next write a loop that prints out the numbers from the number the user entered down to 1.

In [37]:
int(input('Enter an integer: '))

Enter an integer: 1

1

In [45]:
i = int(input('Enter an integer: '))

while i > 0:
    
    print(i)
    
    i -= 1

Enter an integer: 20
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

The input function can be used to prompt for input and use that input in your python code. Prompt the user to enter a positive number and write a loop that counts from 0 to that number. (Hints: note that the input function returns a string, so you'll need to convert this to a numeric type.)

In [20]:
my_nums = list(range(0, int(input('Enter an integer: '))))
nombre = []

for i in my_nums:
        nombre.append(i)
        
nombre

Enter an integer: 25

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

Prompt the user for an odd number between 1 and 50. Use a loop and a break statement to continue prompting the user if they enter invalid input. (Hint: use the isdigit method on strings to determine this). Use a loop and the continue statement to output all the odd numbers between 1 and 50, except for the number the user entered.

In [26]:
odd_num = int(input("Enter an odd number between 1 and 50: "))

for num in range(1, 50):
    
    if num == odd_num:
        
        print('this is a number')
    
    elif (num % 2) != 0:  
        
       print("{0} is Odd number".format(num)) 
        
else:
    print('enter an odd number between 1 and 50')

Enter an odd number between 1 and 50: 23
1 is Odd number
3 is Odd number
5 is Odd number
7 is Odd number
9 is Odd number
11 is Odd number
13 is Odd number
15 is Odd number
17 is Odd number
19 is Odd number
21 is Odd number
this is a number
25 is Odd number
27 is Odd number
29 is Odd number
31 is Odd number
33 is Odd number
35 is Odd number
37 is Odd number
39 is Odd number
41 is Odd number
43 is Odd number
45 is Odd number
47 is Odd number
49 is Odd number
enter an odd number between 1 and 50


Fizzbuzz

One of the most common interview questions for entry-level programmers is the FizzBuzz test. Developed by Imran Ghory, the test is designed to test basic looping and conditional logic skills.

Write a program that prints the numbers from 1 to 100.

In [47]:
num = list(range(1, 100))
num

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]


For multiples of three print "Fizz" instead of the number

For the multiples of five print "Buzz".

For numbers which are multiples of both three and five print "FizzBuzz".

In [47]:
for num in range(100):
    if num % 3 == 0 and num % 5 == 0: 
        print('fizzbuzz')
        continue
    elif num % 3 == 0:
        print('fizz')
        continue
    elif num % 5 == 0:  
        print('buzz') 
        continue
    print(num)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz

Display a table of powers.

Prompt the user to enter an integer

Display a table of squares and cubes from 1 to the value entered

Ask if the user wants to continue

Assume that the user will enter valid data

Only continue if the user agrees to

In [15]:
def squared(i):
    return i*i
def cubed(i):
    return i*i*i
  
def main():
    start = 1
    end=int(input("What number would you like to go up to? "))
    
    
    print("Number\t\tSquared\t\tCubed")
    print("------\t\t------\t\t------")
      
    for i in range(start,end+1):
        print(i,"\t\t|",squared(i),"\t\t|",cubed(i))
        
    while True:
        a = input("Do you want to continue? yes/no? ")
        if a=="yes":
            print("Okay, will continue!")
            continue
        elif a=="no":
            print("Okay, will stop!")
            break
        else:
            print("Enter either yes/no")
main()

What number would you like to go up to? 5
Number		Squared		Cubed
------		------		------
1 		| 1 		| 1
2 		| 4 		| 8
3 		| 9 		| 27
4 		| 16 		| 64
5 		| 25 		| 125
Do you want to continue? yes/no? no
Okay, will stop!

Convert given number grades into letter grades.

Prompt the user for a numerical grade from 0 to 100

Display the corresponding letter grade

Prompt the user to continue

Assume that the user will enter valid integers for the grades

The application should only continue if the user agrees to
Grade Ranges:

A : 100 - 88

B : 87 - 80

C : 79 - 67

D : 66 - 60

F : 59 - 0

In [16]:
user_input = 'yes'
while user_input.lower() == 'yes':
    grade = int(input('Please enter a grade: '))
    if grade >= 99 and grade <= 100:
        print(f'{grade} is an A+')
    elif grade >= 90:
        print(f'{grade} is an A')
    elif grade >= 88:
        print(f'{grade} is an A-')
    elif grade >= 86:
        print(f'{grade} is a B+')
    elif grade >= 82:
        print(f'{grade} is a B')
    elif grade >= 80:
        print(f'{grade} is a B-')
    elif grade >= 78:
        print(f'{grade} is a C+')
    elif grade >= 69:
        print(f'{grade} is a C')
    elif grade >= 67:
        print(f'{grade} is a C-')
    elif grade >= 65:
        print(f'{grade} is a D+')
    elif grade >= 62:
        print(f'{grade} is a D')
    elif grade >= 60:
        print(f'{grade} is a D-')
    elif grade <= 59:
        print(f'{grade} is an F')
    else:
        print('Please enter a grade between 1-100')
    user_input = input('Would you like to continue? yes/no: ')

Please enter a grade: 82
82 is a B
Would you like to continue? yes/no: no

In [21]:
user = 'yes'
while user.lower() == 'yes':
    grade = int(input('Please enter a grade: '))
    if grade >= 88 and grade <= 100:
        print(f'{grade} is an A')
    elif grade >= 80:
        print(f'{grade} is a B')
    elif grade >= 67:
        print(f'{grade} is a C')
    elif grade >= 60:
        print(f'{grade} is a D')
    elif grade <= 59:
        print(f'{grade} is an F')
    else:
        print('Please enter a grade between 1-100')
    user = input('Would you like to continue? yes/no: ')

Please enter a grade: 88
88 is an A
Would you like to continue? yes/no: no

Create a list of dictionaries where each dictionary represents a book that you have read. 

Each dictionary in the list should have the keys title, author, and genre. Loop through the list and print out information about each book.

Prompt the user to enter a genre, then loop through your books list and print out the titles of all the books in that genre.

In [23]:
books = [
    {'title': 'It ends with us','author': 'Colleen Hoover','genre': 'romance'},
    {'title': 'it starts with us','author': 'Colleen Hoover','genre': 'romance'},
    {'title': 'Dune','author': 'Frank Herbert,','genre': 'fiction'},
    {'title': 'Everything, Everything','author': 'Nicola Yoon,','genre': 'romance'},
    {'title': 'Shatter Me','author': 'Tahereh Mafi,','genre': 'fiction'}
]

selected_genre = input('Please enter a genre: ')
selected_books = [book for book in books if book['genre'] == selected_genre]

for book in selected_books:
    print('---')
    print('title: ' + book['title'])
    print('author: ' + book['author'])
    print('genre: ' + book['genre'])

Please enter a genre: fiction
---
title: Dune
author: Frank Herbert,
genre: fiction
---
title: Shatter Me
author: Tahereh Mafi,
genre: fiction