In [ ]:


# Calculate a weekly paycheck, accounting for overtime pay. Create variables and make up values for:
# The number of hours worked in one week
# The hourly rate
# For calculating pay:
# For working 40 hours or less, each hour is paid at the hourly rate
# For working more than 40 hours
# the first 40 hours are paid at the hourly rate
# each hour after 40 is paid at time and a half (hourly rate * 1.5)

Conditional Basics

Prompt the user for a day of the week, print out whether the day is Monday or not

In [6]:
day_of_week = True

if day_of_week:
    print('Its MONDAY')
    
else:
    print('Not Monday')

Its MONDAY

Prompt the user for a day of the week, print out whether the day is a weekday or a weekend

In [8]:
Tuesday = True

if Tuesday:
    print('Its Weekday')
    
else:
    print('weekend')

Its Weekday

Calculate a weekly paycheck, accounting for overtime pay. Create variables and make up values for:

The number of hours worked in one week

In [22]:
hrs_wrkd = 68
reg_hrs = 40
ot_hrs = 18

The hourly rate

In [20]:
hrly_rt = 25
ot_hrly_rt = hrly_rt * 1.5

For calculating pay:

For working 40 hours or less, each hour is paid at the hourly rate

For working more than 40 hours

the first 40 hours are paid at the hourly rate

each hour after 40 is paid at time and a half (hourly rate * 1.5)

In [23]:
(reg_hrs * hrly_rt) + (ot_hrs * ot_hrly_rt)

1675.0

Loop Basics

While

Create an integer variable i with a value of 5. Create a while loop that runs so long as i is less than or equal to 15. Each loop iteration, output the current value of i, then increment i by one.

In [24]:
i = 5

while i <= 15:
    
    print(i)
    
    i += 1

5
6
7
8
9
10
11
12
13
14
15

Create a while loop that will count by 2's starting with 0 and ending at 100. Follow each number with a new line.

In [36]:
i = 0

while i < 101:
    
    print(i)
    
    i += 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

Create a while loop that starts at 2, and displays the number squared on each line while the number is less than 1,000,000. Output should equal

In [43]:
i = 2

while i < 1000000:
    
    print(i)
    
    i **= 2

2
4
16
256
65536

Write a while loop that uses print to create the output shown below.

In [45]:
i = 100

while i > 0:
    
    print(i)
    
    i -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

For Loops

Write some code using a for loop that prompts the user for a number, then shows a multiplication table up through 10 for that number.

For example, if the user enters 7, your program should output:

7 x 1 = 7

7 x 2 = 14

7 x 3 = 21

7 x 4 = 28

7 x 5 = 35

7 x 6 = 42

7 x 7 = 49

7 x 8 = 56

7 x 9 = 63

7 x 10 = 70

In [38]:
num = int(input('Enter an integer: '))

for i in range(1, 11):
    
    print(num, 'x', i, '=', (num*i) )

Enter an integer: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Create a for loop that uses print to create the output shown below.

1

22

333

4444

55555

666666

7777777

88888888

999999999

In [36]:
num = input('Enter an integer: ')

for i in range(1, 11):
    
    print(num*i)

Enter an integer: 1
1
11
111
1111
11111
111111
1111111
11111111
111111111
1111111111

break and continue

Write a program that prompts the user for a positive integer. Next write a loop that prints out the numbers from the number the user entered down to 1.

In [37]:
int(input('Enter an integer: '))

Enter an integer: 1

1

In [45]:
i = int(input('Enter an integer: '))

while i > 0:
    
    print(i)
    
    i -= 1

Enter an integer: 20
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

The input function can be used to prompt for input and use that input in your python code. Prompt the user to enter a positive number and write a loop that counts from 0 to that number. (Hints: note that the input function returns a string, so you'll need to convert this to a numeric type.)

In [20]:
my_nums = list(range(0, int(input('Enter an integer: '))))
nombre = []

for i in my_nums:
        nombre.append(i)
        
nombre

Enter an integer: 25

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

Prompt the user for an odd number between 1 and 50. Use a loop and a break statement to continue prompting the user if they enter invalid input. (Hint: use the isdigit method on strings to determine this). Use a loop and the continue statement to output all the odd numbers between 1 and 50, except for the number the user entered.

In [6]:
num = int(input("Enter an odd number between 1 and 50: "))
if (num % 2) != 0 and num <= 50 :  
    print("{0} is Odd number".format(num)) 
    
else:
    print('enter an odd number between 1 and 50')

Enter an odd number between 1 and 50: 23
23 is Odd number

In [26]:
odd_num = int(input("Enter an odd number between 1 and 50: "))

for num in range(1, 50):
    
    if num == odd_num:
        
        print('this is a number')
    
    elif (num % 2) != 0:  
        
       print("{0} is Odd number".format(num)) 
        
else:
    print('enter an odd number between 1 and 50')

Enter an odd number between 1 and 50: 23
1 is Odd number
3 is Odd number
5 is Odd number
7 is Odd number
9 is Odd number
11 is Odd number
13 is Odd number
15 is Odd number
17 is Odd number
19 is Odd number
21 is Odd number
this is a number
25 is Odd number
27 is Odd number
29 is Odd number
31 is Odd number
33 is Odd number
35 is Odd number
37 is Odd number
39 is Odd number
41 is Odd number
43 is Odd number
45 is Odd number
47 is Odd number
49 is Odd number
enter an odd number between 1 and 50


Fizzbuzz

One of the most common interview questions for entry-level programmers is the FizzBuzz test. Developed by Imran Ghory, the test is designed to test basic looping and conditional logic skills.

Write a program that prints the numbers from 1 to 100.

In [47]:
num = list(range(1, 100))
num

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]


For multiples of three print "Fizz" instead of the number

For the multiples of five print "Buzz".

For numbers which are multiples of both three and five print "FizzBuzz".

In [51]:
num = list(range(1, 100))

if (num % 3) ==0:

    print ('fiz')
    
elif (num % 5) == 0:

    print ('buzz')
    
elif (num % 15) == 0:

    print ('fizzbuzz')
    
else:
    
    print()

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [54]:
nums = int(input("Enter an odd number between 1 and 50: "))

for num in range(1, 50):
    
    if num == odd_num:
        
        print('this is a number')
    
    elif (num % 2) != 0:  
        
       print("{0} is Odd number".format(num)) 
        
else:
    print('enter an odd number between 1 and 50')

Enter an odd number between 1 and 50: 15
buzz