1) Identify the data type of the following values:

In [1]:
type(99.9
)

float

In [2]:
type("False"
)

str

In [3]:
type(False
)

bool

In [4]:
type('0'
)

str

In [5]:
type(0
)

int

In [6]:
type(True
)

bool

In [7]:
type('True'
)

str

In [8]:
type([{}]
)

list

In [9]:
type({'a': []})

dict

2) What data type would best represent the following?

In [12]:
# A term or phrase typed into a search box
# String

In [13]:
# Whether or not a user is logged in
# Boolean

In [14]:
# A discount amount to apply to a user's shopping cart
# Numbers

In [15]:
# Whether or not a coupon code is valid
# Boolean

In [16]:
# An email address typed into a registration form
# Strings

In [17]:
# The price of a product
# Numbers

In [18]:
# The email addresses collected from a registration form
# Lists

In [19]:
# Information about applicants to Codeup's data science program
# Dictionaries

3. For each of the following code blocks:

Read the expression and predict the evaluated results

Execute the expression in a Python REPL.

In [21]:
'1' + 2
# TypeError

TypeError: can only concatenate str (not "int") to str

In [27]:
6 % 4
# 2

2

In [28]:
type(6 % 4)
# Int

int

In [29]:
type(type(6 % 4))
# Type

type

In [30]:
'3 + 4 is ' + 3 + 4
# TypeError

TypeError: can only concatenate str (not "int") to str

In [31]:
0 < 0
# False

False

In [32]:
'False' == False
# False

False

In [33]:
True == 'True'
#False

False

In [34]:
5 >= -5
# True

True

In [35]:
True or "42"
# True

True

In [36]:
6 % 5
# 1

1

In [37]:
5 < 4 and 1 == 1
#False

False

In [39]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'
# False

False

In [43]:
4 >= 0 and 1 !== '1'
# Error

SyntaxError: invalid syntax (300978411.py, line 1)

In [47]:
6 % 3 == 0
# True

True

In [48]:
5 % 2 != 0
# True

True

In [49]:
[1] + 2
# TypeError

TypeError: can only concatenate list (not "int") to list

In [50]:
[1] + [2]
# [1, 2]

[1, 2]

In [51]:
[1] * 2
# [1,1]

[1, 1]

In [53]:
[1] * [2]
# TypeError

TypeError: can't multiply sequence by non-int of type 'list'

In [54]:
[] + [] == []
# True

True

In [55]:
{} + {}
# TypeError

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

4. Describe the following scenarios. You will need to create and assign variables and use operators.
5. You have rented some movies for your kids:

In [61]:
# The Little Mermaid for 3 days
The_Little_Mermaid = 3

In [62]:
# Brother Bear for 5 days
Brother_Bear = 5

In [63]:
# Hercules for 1 day
Hercules = 1

If the daily fee to rent a movie is 3 dollars, how much will you have to pay?

In [67]:
Movie = 3

In [68]:
#The Little Mermaid
The_Little_Mermaid * Movie

9

In [69]:
# Brother Bear
Brother_Bear * Movie

15

In [70]:
# Hercules
Hercules * Movie

3

In [135]:
The_Little_Mermaid * Movie + Brother_Bear * Movie + Hercules * Movie

27

In [136]:
# $27

6. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

They pay you the following hourly rates:

In [97]:
# Hourly rate for Google
Google_HR = 400

In [99]:
# Hourly rate for Amazon
Amazon_HR = 380

In [103]:
# Hourly rate for Facebook
Fb_HR = 350

This week you worked: 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

In [105]:
# Hours worked for Facebook
Fb_hrs = 10

In [79]:
# Hours worked for Google
Google_hrs = 6

In [101]:
# Hours worked for Amazon
Amazon_hrs = 4

How much will you receive in payment for this week?

In [108]:
(Google_HR * Google_hrs) + (Amazon_HR * Amazon_hrs) + (Fb_HR * Fb_hrs)
# $7420

7420

7. A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [156]:
student = 1
class_full = 2
class_schedule = 3
current_schedule = 4
if student != class_full and class_schedule != current_schedule:
    print("enrolled")
else:
    print("denied")

enrolled

8. A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [165]:
items_people_buy = 3
offer = 1
not_expired = 1
premium_members = 2
if (items_people_buy > 2 and offer == not_expired) or premium_members == items_people_buy:
    print("approved")
else:
    print("denied")

approved

9. Continue working in the data_types_and_variables.py file. Use the following code to follow the instructions below:
Create a variable that holds a boolean value for each of the following conditions:

The password must be at least 5 characters

The password must be at least 5 characters

The username must be no more than 20 characters

The password must not be the same as the username

Bonus Neither the username or password can start or end with whitespace

In [ ]:
username = 'codeup'
password = 'notastrongpassword'